<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear, <%= @user.email %></h1>
<p>
  We are here to inform you that your job application status has been updated.
</p>
<p>
  Here are more job opportunities on our website: https://boiling-journey-26265.herokuapp.com.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
